<app-content-view-content>
  @if (playlist.query.isSuccess()) {
    @let data = playlist.query.data();

    @if (data.playlist === 'latest' && data.result.status === 'success') {
      @let beats = data.result.data;

      @for (beat of beats; track beat._id) {
        <app-content-view-item>
          <app-beat-card
            [src]="beat.cover_picture"
            [title]="beat.title"
            [storeName]="beat.producer.store.general.name"
          >
          </app-beat-card>
        </app-content-view-item>
      }
    }

    @if (data.playlist === 'onescroll') {
      @let beats = data.result.beats;

      @for (beat of beats; track beat._id) {
        <app-content-view-item>
          <app-beat-card
            [src]="beat.cover_picture"
            [title]="beat.title"
            [storeName]="beat.producer.store.general.name"
          >
          </app-beat-card>
        </app-content-view-item>
      }
    }

    @if (data.playlist === 'trending') {
      @let beats = data.result.playlists.at(0)?.beats ?? [];

      @for (beat of beats; track beat._id) {
        <app-content-view-item>
          <app-beat-card
            [src]="beat.cover_picture"
            [title]="beat.title"
            [storeName]="beat.producer.store.general.name"
          >
          </app-beat-card>
        </app-content-view-item>
      }
    }
  }
</app-content-view-content>
